<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.must_connect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MUSTConnect">
        <activity
            android:name=".dashboard.AdminDashboardActivity"
            android:label="Admin Dashboard" />
        <activity
            android:name=".dashboard.TeacherDashboardActivity"
            android:label="Teacher Portal" />
        <activity
            android:name=".dashboard.StudentDashboardActivity"
            android:label="Student Portal" />
        <activity
            android:name=".posts.CreatePostActivity"
            android:label="Create New Post" />
        <activity
            android:name=".auth.PasswordChangeActivity"
            android:label="Change Password" />
        <activity
            android:name=".auth.LoginActivity"
            android:label="MUST-Connect Login"
            android:theme="@style/Theme.MUSTConnect">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>